@font-face {
  font-family: 'Roboto-bold';
  src: url('../font/Roboto/Roboto-Bold.ttf');
}
@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto/Roboto-Regular.ttf');

}

header{
  height: 720px;
  max-height: 100%;
}

#menu{
  font-family: 'Roboto-bold';
  border-radius: 0 0 0 0;
  z-index: 1;
  position: relative;
}

#title{
  margin-top: 360px;
  z-index: 10;
  position: relative;
}

#background-img{
    margin-top: -520px;
    position: relative;
}

/*#header-video{
  opacity: 0.2;
margin-top: -730px;
heigh: 80%;
position: relative;
}*/

body{
  height: 2300px;
  background-color: #d6d6d6;
}


.gray{
  background-color: #d6d6d6;
}


#about-me{
  text-align: left;
  font-family: 'Roboto';
  font-size: 20px;
  background-color: #fff;
}

#about-me h2{
  font-family: 'Roboto-bold';
  font-size: 32px;
}


#profile-picture{
  margin-left: 20px;
  width: 40%;
}




.resize{
    margin-top: -20px;
}
