
/*tablets*/

@media only screen and (max-width: 780px) {

  @font-face {
    font-family: 'Roboto'
    src: url('../font/Roboto/Roboto-Bold.ttf');
    font-family: 'Roboto-Regular';
    src: url('../font/Roboto/Roboto-Regular.ttf');
  }



    #background-img{
      margin-top: 270px;
      width: 100%;
      position: static;
    }

    #video-bg{
      display: none;
    }

    #button-config{
  display: none;
    }

  #rafael-real{
    width: 200px;
    margin-left: 30px;
  }
  .lg-segment{
    display: none;
  }
  .sm-align-content{
    margin-left: 0px;
    margin-top: -90px;
  }

  #chartContainer{
    margin-top: 0px;
    margin-left: 38px;
  }

}
/*smartphones*/

@media only screen and (max-width: 480px) {

  @font-face {
    font-family: 'Roboto'
    src: url('../font/Roboto/Roboto-Bold.ttf');
    font-family: 'Roboto-Regular';
    src: url('../font/Roboto/Roboto-Regular.ttf');
  }


  #background-img{
    margin-top: 270px;
    width: 550px;
    position: static;
  }

  #video-bg{
    display: none;
  }

  #button-config{
display: none;
  }

#rafael-real{
  width: 200px;
  margin-left: 30px;
}

header{
  height: 280px;
}

#page-title{
  font-size: 30px;
}
.title{

  position: static;
  width: 334px;
}

#titles{
  background-color: #fff;
}

#text-segment-left{
  margin: 0px;
}

#text-segment-right{
  margin-right: 0px;
}
.saints{
  margin-top: 30px;


}
.saints-row{
  margin-top: -40px;

}
.orlando{
  margin-top: 30px;

}
.orlando-row{
  margin-top: -40px;

}

.page-align-left-saints{
  margin-left: 120px;
}

.page-align-left-orlando{
  margin-top: -10px;
  margin-left: 50px;
}
.scrolltop{
display: none;
}
.scrolltop2{
display: none;
}

#tall-segment{
  position: static;
}


#Apps-lg{
  display: none;
}

#carouselApps{
  display: block;
}

.sm-align-content{
  margin-left: -32px;
  margin-top: -90px;
}

#chartContainer{
  margin-top: 40px;
  margin-left: 38px;
}

.lg-segment{
  display: none;
}

footer{
  margin-top: 0;
}
.lg-icons{
  display: none;
}
.sm-icons{
  display: block;


}

.col-white-color{
  height: 700px;
}

body{
  height: 3000px;
}

}
