@font-face {
  font-family: 'Roboto'
  src: url('../font/Roboto/Roboto-Bold.ttf');
  font-family: 'Roboto-Regular';
  src: url('../font/Roboto/Roboto-Regular.ttf');
}


header{
  height: 720px;
  width: 100%;

}

body{
background-color: #fff;
height: 3200px;
}

#rafael-real{
  position: relative;
  margin-top: 124px;
  text-align: center;
  z-index: 4;
  margin-left: 64px;
}

.title{
  position: relative;
}

#background-img{
    position: absolute;
}

#button-config{
  position: relative;
      width: 1270px;
      text-align: center;
      display: inline;
      top: 45%;
      z-index: 1;
      margin-left: 15px;
}
#button-config a img{
  margin-left: 40px;
  text-align: center;

}
#button-config a{
  text-decoration: none;
}


.button-config-projects{
  font-family: 'Roboto';
  font-size: 42px;
  color: #fff;
  text-decoration: none;
  position: absolute;
  display: inline;
  margin-top: 105px;

}
.button-config-about{
  font-family: 'Roboto';
  font-size: 42px;
  color: #fff;
  text-decoration: none;
  position: absolute;
  display: inline;
  margin-top: 105px;

}
.button-config-contact{
  font-family: 'Roboto';
  font-size: 42px;
  color: #fff;
  text-decoration: none;
  position: absolute;
  display: inline;
  margin-top: 105px;

}

.contact-button{
margin-left: -20px;
}
.polygon-hover{
  -webkit-filter: drop-shadow(0px 0px 8px rgba(0, 251, 88, 0.9));
}


.projects-button{
  margin-left: 26px;
}
.about-button{
  margin-left: 20px;

}
.contact-button{
  padding-left: 18px;
}

#video-bg{
  position: inherit;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.2;
  margin-top: -731px;
  margin-left: 0.4em

}

#text-segment-left{
  margin-left: 90px;
}
#text-segment-right{
  margin-right: 90px;
}


.profile-picture{
  border: 0px;
  border-radius: 5.25rem;
}

.resize-buttons{
  margin-top: 75px;
margin-left: 20px;
}
.gray{
  background-color: #DAE2DF;
}


.col-gray-color{
  height: 400px;
  background-color:#F4F4F9;
}

.col-gray-l-color{
  height: 500px;
  background-color: #D7E7F7;
}
.col-black-color{
  height: 500px;
  background-color: #ABDFE8;
}
.col-white-color{
  height: 900px;
  background-color: #FCFCFC;
}


.scrolltop{

display: none;
}
.scrolltop2{

display: none;
}

.bio{
  font-family: 'Roboto-Regular';
  font-size: 16px;
  font-style: italic;
}

#saints-coffee{

}


#saints-coffee h2{
  font-family: 'Roboto';
  font-size: 45px;
}
#saints-coffee h1{
  font-size: 50px;
}

#page-title{
  font-family: 'Roboto';
  font-size: 72px;
}

#Apps-lg{
  display: visible;
}

#carouselApps{
  display: none;
}

.page-title{
  font-family: 'Roboto';
  font-size: 72px;
}


.page-align-left{
  margin-left: 90px;
}


.page-align-right{
  margin-right: 90px;
}

.subtitle{
  font-family: 'Roboto-Regular';
  font-size: 16px;
  color: #fff;
  display: none;
  margin-top: -26px;
}
.link{
  cursor: pointer;
}

footer{
  height: 400px;
  background-color: #0a0a0a;
}

.icon{
  width: 30%;
}


.footer-icon{
  font-size: 48px;
  color: #E1E1EE;
}
.sub-icon-fb{
  margin-top: 8px;
  font-size: 18px;
  color: #E1E1EE;
  display: none;
  float: inherit;
}
.sub-icon-twitter{
  margin-top: 8px;
  font-size: 18px;
  color: #E1E1EE;
  display: none;
}
.sub-icon-instagram{
  margin-top: 8px;
  font-size: 18px;
  color: #E1E1EE;
  display: none;
}
.sub-icon-github{
  margin-top: 8px;
  font-size: 18px;
  color: #E1E1EE;
  display: none;
}
.sub-icon-linkedin{
  margin-top: 8px;
  font-size: 18px;
  color: #E1E1EE;
  display: none;
}
.sub-icon-mail{
  margin-top: 8px;
  font-size: 18px;
  color: #E1E1EE;
  display: none;
}

.input-mail{
  background-image: url('../img/envelope.png');
  background-color: transparent;
  background-position: 0px 0px;
    background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  vertical-align: middle;
  padding-left: 42px;
  height: 42px;
  width: 42px;

}

.sm-icons{
  display: none;
}

.saints{
  margin: 0;

}
.saints-row{
  margin-top:0;

}
.orlando{
  margin-top: 0;

}
.orlando-row{
  margin-top: -20px;

}
